body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #000158;
    background-color: black;
}

.entrada {
    background-color: #76e0eeea;
    width: 70%;
    margin: 0 auto;
    padding: 2rem;
}